.s4{
    width: 100vw;
    height: 100vh;
    background: transparent url('../images/section4-image.png') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 56.3% 100%;
    background-position-x: right;
}
.s4content{
    width: 48.9%;
    padding-top: 10.75%;
    padding-left: 7.39%;
}