@media (max-width:668px) {

   .flex-container{flex-direction: column;} 
   .listaFlex{
    justify-content: space-around;
    
   }
    
}
@media (max-width:400px){
    .listaFlex{
        justify-content: space-around;
        flex-wrap: wrap;
       } 
}