.s5{
    
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgb(255, 255, 255) 70.86%, rgba(220,225,218,1) 70.86%);
    position: relative;
}
#Message{
    height: 4.29%;
    padding-top: 2%;
    padding-bottom: 9.5%;
    margin-bottom: 0px;
    border-bottom: 1px #5f6368 solid;
    margin-bottom: 5.2%;
}
.s5Form{
    display: flex;
    flex-direction: column;
    width: 34.48%;
    //height: 100%;
    margin-left: 7.39%;
    justify-content: space-between;
    input{
        width: 100%;
        border: 0px;
        border-bottom: 1px  #5f6368 solid;
        height: 4.29%;
        margin-bottom: 4.03%;
        padding-bottom: 1.56%;
        font-family: "Roboto-medium",sans-serif;
        letter-spacing: 0px;
        font-size: 16px;
        opacity: 1;
        
    }
    
}

.formulario{
    margin-top: 9.7vh;
    div{
        button{
            margin-left: 0%;
        }
    }
}


.s5img{
    width: 52%;
    height: 43.48%;
    padding-right: 7.39%;
    img{
        width: 100%;
    }
}
.s5Content{
    position: absolute;
    top:12.5%;
    margin-top: 0px;
    //height: 100%;
    width: 100%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
}

.piePag{
    position: absolute;
    display: flex;
    height: 12.5%;
    width: 100%;
    background-color: #343434;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    bottom: 0%;
    div{ margin-left: 7.39%;
        margin-right: 7.39%;
        font-family: "Roboto-Regular";
        font-size: 0.8em;
        color: #FFFFFF;
        height:20%;
        img{
            height:100%;
        }
    }
   
}